---
layout: default
pageurl: /researches
---
<p class="title">Research</p>

<style>
    ul {
        /* text-align: justify; */
    }
</style>
<div class="researches__description">
    <p>I am a demographer and sociologist with interests in:</p>
    <ul>
        <li>Mortality and cause of death</li>
        <li>Covid-19 and excess mortality </li>
        <li>Health inequalities across the life course</li>
        <li>Spatial epidemiology</li>
        <li>Small area estimation </li>
        <li>Tobacco and substance use</li>
        <li>Non-communicable diseases </li>
        <li>Causal inference</li>
    </ul>
</div>
<p class="title">Preprints</p>
<ul>
    {% for research in site.data.preprints %}
    <li class="research">
        <a class="research__url" href="{{ research.url }}">{{ research.title }}</a>
        <p class="research__authors">
            {%- for author in research.authors -%}
                {%- if forloop.last and research.authors.size != 1 -%}
                    &nbsp;and
                {%- endif -%}
                <span class="research__author{% if author.isMe  %} research__author-self{% endif %}">
                    {{ author.fullName }}</span>
                {%- if forloop.last != true -%}
                    ,
                {%- else -%}
                    .
                {%- endif -%}
            {%- endfor -%}
        </p>
        <p class="research__meta">
            <span><span class="research__meta-publisher">{{ research.publisher }}</span>{% if research.publisher != "" %}, {% endif %}{{ research.date.year }}</span>
        </p>
        {% if research.mediaCoverage and research.mediaCoverage != empty %}
        <p class="research__meta research__meta-media-coverage">
            <span>
                <span class="research__meta-media-header">Media coverage: </span>
                
            {% for media in research.mediaCoverage %}
                <a class="research__meta-media-link" href="{{media.link}}">{{media.name}}</a>
                {%- if forloop.last != true -%}
                ,
                {%- endif -%}
            {% endfor %}
            
            </span>
        </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<br>
<p class="title">Publications</p>

{% assign researches_by_group = site.data.researches_zotero | group_by: "date.year"%}
{% for year_group in researches_by_group %}
    <ul>
        <p class="subtitle">{{year_group.name}}</p>
        {% for research in year_group.items %}
        <li class="research">
            <a class="research__url" href="{{ research.url }}">{{ research.title }}</a>
            <p class="research__authors">
                {%- for author in research.authors -%}
                    {%- if forloop.last and research.authors.size != 1 -%}
                        &nbsp;and
                    {%- endif -%}
                    <span class="research__author{% if author.isMe  %} research__author-self{% endif %}">
                        {{ author.fullName }}</span>
                    {%- if forloop.last != true -%}
                        ,
                    {%- else -%}
                        .
                    {%- endif -%}
                {%- endfor -%}
            </p>
            <p class="research__meta">
                <span class="research__meta-publisher">{{ research.publisher }}</span>{% if research.publisher != "" %}, {% endif %}{{ research.date.year }}
            </p>
            {% if research.mediaCoverage and research.mediaCoverage != empty %}
            <p class="research__meta research__meta-media-coverage">
                <span>
                    <span class="research__meta-media-header">Media coverage: </span>
                    [
                {% for media in research.mediaCoverage %}
                    <a class="research__meta-media-link" href="{{media.link}}">{{media.name}}</a>
                    {%- if forloop.last != true -%}
                        ,
                    {%- endif -%}
                {% endfor %}
                ]
                </span>
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endfor %}
