---
layout: default
pageurl: /researches
---
<center>
    <p class="title">Researches</p>
</center>

<style>
    ul {
        text-align: justify;
    }
</style>
<div class="researches__description">
    I am a demographer and sociologist with interests in:
    <ul>
        <li>Mortality and cause of death</li>
        <li>Covid-19 and excess mortality </li>
        <li>Health inequalities across the life course</li>
        <li>Spatial epidemiology</li>
        <li>Small area estimation </li>
        <li>Tobacco and substance use</li>
        <li>Non-communicable diseases </li>
        <li>Causal inference</li>
    </ul>
</div>

<center>
    <p class="title">Publications</p>
</center>

<ul>
{% for research in site.data.researches_zotero %}
    <li class="research">
        <a class="research__url" href="{{ research.url }}">{{ research.title }}</a>
        <p class="research__authors">
            {%- for author in research.authors -%}
                {%- if forloop.last and research.authors.size != 1 -%}
                    &nbsp;and
                {%- endif -%}
                <span class="research__author{% if author.fullName contains site.data.author.name or author.fullName contains "Stokes" or author.fullName contains "Andrew" %} research__author-self{% endif %}">
                    {{ author.fullName }}</span>
                {%- if forloop.last != true -%}
                    ,
                {%- else -%}
                    .
                {%- endif -%}
            {%- endfor -%}
        </p>
        <p class="research__meta">
            <span class="research__meta-publisher">{{ research.publisher }}</span>{% if research.publisher != "" %}, {% endif %}{{ research.date.raw }}
        </p>
    </li>
{% endfor %}
</ul>