


/* Variables */
@import "variables";

@import "navigation";
@import "info";
@import "about";
@import "researches";
@import "lab";
@import "teaching";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.5em;
    font-size: 0.81em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 16px;
    width: 800px;
    min-width: 360px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 1.35em;
    font-weight: normal;
    color: #A92F0A;
    line-height: 0.9em;
    margin: 0 0 1.5em 0;
}

.subtitle {
    font-size: 1.25em;
    font-weight: normal;
    color: #A92F0A;
    line-height: 0.9em;
    margin: 1.5em 0;
}

a {
    margin: 0.5em 0;
    text-decoration: none;
    color: #1563AA;
}