.research {
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.researches__description {
    margin-bottom: 3em;
}

.researches__description > ul {
    margin-left: 2em;
}
.researches__description p {
    margin-bottom: 0.8em;
}

.research__url {
    margin: 0.5em 0;
    text-decoration: none;
    color: #1563AA;
}

.research__authors {
    font-size: 0.95em;
    // line-height: 0.2em;
    font-weight: normal;
    font-style: normal;
    color: #393B47;
}

.research__author-self {
    font-weight: bolder;
    white-space: nowrap;
}

.research__meta {
    font-size: 1em;
    line-height: 2em;
    color: #272727;
}

.research__meta-publisher {
    font-style: italic;
}